body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.05;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.header-logo {
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list {
    list-style: none;
}

.span-logo {
    color: #2E2F42;
}

.footer-span-logo {
    color: #F4F4FD;
}

.header-list {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
}

.header-list:active, 
.header-list:hover {
    color: #404BBF;
}

.header-address:active,
.header-address:hover {
    color: #404BBF
}

.link {
    text-decoration: none;
}

h1 {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
}

.section_title {
    background-color: #2E2F42;
}

.section_title-button {
    font-weight: 500;
    color: #FFF;
    background-color: #4D5AE5;
    text-align: center;
}

.section_title-button:hover {
    background-color: #404BBF;
}

.button-section-button {
    color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}